###############################################################################
## Common families
###############################################################################

# Family for all Linux jobs
    [[LINUX]]
        [[[job]]]
            batch system = background

# Family for extract jobs
    [[EXTRACT]]
    script = "rose task-run --verbose --define='args=--ignore-lock'"
        [[[remote]]]
            {% if REMOTE_JASMIN %}
                host = localhost
            {% else %}
                host = {{ ROSE_ORIG_HOST }}
            {% endif %}
        [[[environment]]]
            HOST_SOURCE_JULES_BASE = {{ HOST_SOURCE_JULES_BASE }}
{%- if SITE == 'vm' or SITE == 'cehwl1' or (TRUSTZONE is defined and TRUSTZONE == 'collaboration') %}
            HOST_SOURCE_JULES_BASE = {{ HOST_SOURCE_JULES_BASE|replace(ROSE_ORIG_HOST+":","",1) }}
{% elif SITE in ('bom', 'nci') %}
            HOST_SOURCE_JULES_BASE = {{ SOURCE_JULES_BASE }}
{%- endif %}
            VN = {{ VN }}
            ROSE_TASK_APP = fcm_make
            {% if REMOTE_JASMIN %}
                JULES_SOURCE = {{ REMOTE_JULES_SOURCE }}
            {% elif SITE in ('bom', 'nci', 'vm') %}
                JULES_SOURCE = {{ SOURCE_JULES }}
            {% else %}
                JULES_SOURCE = {{ HOST_SOURCE_JULES }}
            {% endif %}
            JULES_NETCDF = netcdf
            JULES_FFLAGS_EXTRA  =
            JULES_LDFLAGS_EXTRA =

# Family for build jobs
# Accepts the environment variable BUILD_HOST, which is used as an argument to rose host-select
    [[BUILD]]
        inherit = None, EXTRACT
        [[[remote]]]
            host = $(rose host-select ${BUILD_HOST})
            
    [[EXTRACT_AND_BUILD]]
        inherit = None, EXTRACT
        [[[environment]]]
            JULES_REMOTE = local

# Family for compute jobs
# Accepts the environment variable BUILD_NAME, which is the name of the build job to use executable from
    [[COMPUTE]]
        script = "mkdir -p output ; rose task-run --path= --path=share/${BUILD_NAME}/build/bin"
        
# Family for comparison jobs
# Accepts two environment variables:
#   OUTPUT_DIR - the job output directory to compare files from
#   KGO_DIR - the directory containing files to compare to
    [[COMPARISON]]
        script = "compare_all $OUTPUT_DIR $KGO_DIR"

# Sub-family for NetCDF comparison jobs
    [[NETCDF_COMPARISON]]
        inherit = COMPARISON
        [[[environment]]]
            CMD_CMP = nccmp -d --force
        
# Family for housekeeping jobs
# Accepts the environment variable DIR1, the directory to delete
    [[HOUSEKEEPING]]
{%- if HOUSEKEEPING == true %}
        script = "rm -rf $DIR1"
{%- else %}
        script = "echo Housekeeping is off"
{%- endif %}
        
# Groups that can be used for display
    [[LOOBOS]]
    [[GSWP2]] 
    [[ERAINT]]
    [[IMOGEN]]
    [[KGO_CHECK]]
            

###############################################################################
## Site-specific runtime definitions
###############################################################################
{% if REMOTE_JASMIN or SITE == 'jasmin' %}
%include 'include/jasmin/runtime.rc'
{% else %}
{% if SITE == 'meto' %}
%include 'include/meto/runtime.rc'
{% elif SITE == 'vm' %}
%include 'include/vm/runtime.rc'
{% elif SITE == 'niwa' %}
%include 'include/niwa/runtime.rc'
{% elif SITE == 'cehwl1' %}
%include 'include/cehwl1/runtime.rc'
{% elif SITE == 'nci' %}
%include 'include/nci/runtime.rc'
{% elif SITE == 'bom' %}
%include 'include/bom/runtime.rc'
{% endif %}
{% endif %}
