###############################################################################
## Common variable definitions
###############################################################################
{%- set KGO_VERSION = 'vn6.0' %}
