###############################################################################
## Name graphs
###############################################################################

# The Loobos crops graph needs to be listed explicitly for the tutorial group
{%- set name_graphs_cs500 = {

        "niwa_cs500_fcm_make" : "fcm_make_niwa_cs500<compiler_cs500>_omp
                                 fcm_make_niwa_cs500<compiler_cs500>_debug_noomp",

        "niwa_cs500_intel_loobos_crops" : "fcm_make_niwa_cs500_intel_debug_noomp =>
                                           niwa_cs500_intel_loobos_crops =>
                                           nccmp_niwa_cs500_intel_loobos_crops =>
                                           housekeep_niwa_cs500_intel_loobos_crops",

        "niwa_cs500_intel_loobos_single" : "fcm_make_niwa_cs500_intel_debug_noomp =>
                                            niwa_cs500_intel_loobos<loobos_single> =>
                                            nccmp_niwa_cs500_intel_loobos<loobos_single> =>
                                            housekeep_niwa_cs500_intel_loobos<loobos_single>",

        "niwa_cs500_intel_loobos_with_spinup" : "fcm_make_niwa_cs500_intel_debug_noomp =>
                                                 niwa_cs500_intel_loobos<loobos_with_spinup>_spinup =>
                                                 niwa_cs500_intel_loobos<loobos_with_spinup> =>
                                                 nccmp_niwa_cs500_intel_loobos<loobos_with_spinup> =>
                                                 housekeep_niwa_cs500_intel_loobos<loobos_with_spinup>_spinup & \
                                                 housekeep_niwa_cs500_intel_loobos<loobos_with_spinup>

                                                 fcm_make_niwa_cs500_intel_debug_noomp =>
                                                 niwa_cs500_intel_loobos_julesc_spinup =>
                                                 niwa_cs500_intel_loobos<loobos_jules_c1p1> =>
                                                 nccmp_niwa_cs500_intel_loobos<loobos_jules_c1p1> =>
                                                 housekeep_niwa_cs500_intel_loobos_julesc_spinup & \
                                                 housekeep_niwa_cs500_intel_loobos<loobos_jules_c1p1>",

        "niwa_cs500_intel_gswp2_single" : "fcm_make_niwa_cs500_intel_omp =>
                                           niwa_cs500_intel_gswp2<gswp2_single> =>
                                           nccmp_niwa_cs500_intel_gswp2<gswp2_single> =>
                                           housekeep_niwa_cs500_intel_gswp2<gswp2_single>",

        "niwa_cs500_intel_gswp2_with_spinup" : "fcm_make_niwa_cs500_intel_omp =>
                                                niwa_cs500_intel_gswp2<gswp2_with_spinup>_spinup =>
                                                niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart =>
                                                nccmp_niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart =>
                                                housekeep_niwa_cs500_intel_gswp2<gswp2_with_spinup>_spinup =>
                                                housekeep_niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart

                                                fcm_make_niwa_cs500_intel_omp =>
                                                niwa_cs500_intel_gswp2_trip_spinup =>
                                                niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage =>
                                                nccmp_niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage =>
                                                housekeep_niwa_cs500_intel_gswp2_trip_spinup =>
                                                housekeep_niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage",

        "niwa_cs500_intel_eraint" : "fcm_make_niwa_cs500_intel_omp =>
                                     niwa_cs500_intel_eraint<eraint_tests> =>
                                     nccmp_niwa_cs500_intel_eraint<eraint_tests> =>
                                     housekeep_niwa_cs500_intel_eraint<eraint_tests>",

        "niwa_cs500_intel_imogen_with_spinup" : "fcm_make_niwa_cs500_intel_omp =>
                                                 niwa_cs500_intel_imogen<imogen_with_spinup>_spinup =>
                                                 niwa_cs500_intel_imogen<imogen_with_spinup> =>
                                                 nccmp_niwa_cs500_intel_imogen<imogen_with_spinup> =>
                                                 housekeep_niwa_cs500_intel_imogen<imogen_with_spinup>_spinup & \
                                                 housekeep_niwa_cs500_intel_imogen<imogen_with_spinup>",

    }
%}

###############################################################################
## Group definitions
###############################################################################

{%- set groups_cs500 = {

        "niwa_cs500_all" : ["niwa_cs500_build",
                            "niwa_cs500_loobos",
                            "niwa_cs500_gswp2",
                            "niwa_cs500_eraint",
                            "niwa_cs500_imogen"],

        "niwa_cs500_build" : ["niwa_cs500_fcm_make"],

        "niwa_cs500_loobos" : ["niwa_cs500_intel_loobos_single",
                               "niwa_cs500_intel_loobos_with_spinup"],

        "niwa_cs500_gswp2" : ["niwa_cs500_intel_gswp2_single",
                              "niwa_cs500_intel_gswp2_with_spinup"],

        "niwa_cs500_eraint" : ["niwa_cs500_intel_eraint"],  
                    
        "niwa_cs500_imogen" : ["niwa_cs500_intel_imogen_with_spinup"],                      

    }
%}
