    [[parameters]]
        compiler_xc50 = cce, gfortran, intel
        compiler_cs500 = gfortran, intel
        # Loobos test variants
        loobos_single = gl4, gl7, gl8, vegdrag, euro4, forecast, ukv, crops, \
                        prescribe_sthuf, irrig, daily_disagg, \
                        crm1_traitF, crm4_traitF, \
                        crm5_traitF, crm6_traitF, crm6_traitT, crm6_traitF_srfT
        loobos_with_spinup = trif, julesc, jules_layeredcn, jules_cn, jules_es_1p0, fire
        loobos_jules_c1p1 = jules_c1p1, jules_c1p1_fire
        # GSWP2 test variants
        gswp2_single = rivers, trip, closures, euro4, gl4, gl7, ukv
        gswp2_with_spinup = rivers, trip
	gswp2_irrig = low, high
        # Eraint test variants
        eraint_tests = rfm_2ddata, trip_2ddata
        # Imogen test variants
        imogen_with_spinup = layeredc
