###############################################################################
## Common classes
###############################################################################

    [[NIWA_CS500]]
        [[[remote]]]
            host = w-mauivlab01.maui.niwa.co.nz

    [[NIWA_CS500_SL]]
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --clusters = maui_ancil
            --partition = nesi_prepost
            --account = niwa00001
            --job-name = jules_test
            --time = 00:06:00
            --mem-per-cpu = 1G
            --hint = nomultithread

# CS500 node setup
# Single OpenMP thread
    [[NIWA_CS500_PARALLEL_THREADS_1]]
        [[[environment]]]
            OMP_NUM_THREADS = 1

# Single task
    [[NIWA_CS500_PARALLEL_TASKS_1]]
        [[[directives]]]
            --nodes = 1
            --ntasks = 1

# 8 tasks
    [[NIWA_CS500_PARALLEL_TASKS_8]]
        [[[directives]]]
            --nodes = 1
            --ntasks = 8

###############################################################################
## Extract and build jobs
###############################################################################

    [[NIWA_CS500_BUILD]]
        inherit = NIWA_CS500, EXTRACT_AND_BUILD
        [[[environment]]]
            ROSE_TASK_N_JOBS = 6

    [[NIWA_CS500_BUILD_gfortran]]
        inherit = NIWA_CS500_BUILD
        pre-script = """
                     module purge
                     module load NIWA
                     module load FCM/2019.05.0-GCC-7.1.0
                     module load gimpi/2018b
                     module load netCDF-Fortran/4.4.4-gimpi-2018b-parallel
                     """
        [[[environment]]]
            JULES_PLATFORM = niwa-cs500-gfortran
            ROSE_TASK_N_JOBS = 1

    [[NIWA_CS500_BUILD_intel]]
        inherit = NIWA_CS500_BUILD
        pre-script = """
                     module purge
                     module load NIWA
                     module load FCM/2019.05.0-GCC-7.1.0
                     module load iimpi/2018b
                     module load netCDF-Fortran/4.4.4-iimpi-2018b-parallel
                     """
        [[[environment]]]
            JULES_PLATFORM = niwa-cs500-intel

###############################################################################
## Scripts
###############################################################################

# Redefine site-independent SCRIPTS group to run CS500 node
    [[SCRIPTS]]
        inherit = None, NIWA_CS500

###############################################################################
## Build jobs
###############################################################################

# Debug build without OpenMP
    [[fcm_make_niwa_cs500<compiler_cs500>_debug_noomp]]
        inherit = NIWA_CS500_BUILD<compiler_cs500>
        [[[environment]]]
            JULES_BUILD = debug
            JULES_OMP = noomp

# Normal build with OpenMP
    [[fcm_make_niwa_cs500<compiler_cs500>_omp]]
        inherit = NIWA_CS500_BUILD<compiler_cs500>
        [[[environment]]]
            JULES_BUILD = normal
            JULES_OMP = omp

###############################################################################
## Compute jobs
###############################################################################

    # Loobos variants
    [[NIWA_CS500_LOOBOS]]
        inherit = NIWA_CS500, NIWA_CS500_SL, NIWA_CS500_PARALLEL_TASKS_1, NIWA_CS500_PARALLEL_THREADS_1, LOOBOS, COMPUTE
        pre-script = """
                     module purge
                     module load NIWA
                     module load netCDF-Fortran/4.4.4-iimpi-2018b-parallel
                     """
        [[[environment]]]
            BUILD_NAME = fcm_make_niwa_cs500_intel_debug_noomp
            LOOBOS_INSTALL_DIR = /opt/niwa/um_sys/jules/benchmarking-data/loobos

    [[niwa_cs500_intel_loobos<loobos_single>]]
        inherit = NIWA_CS500_LOOBOS
        [[[environment]]]
            ROSE_TASK_APP = loobos_${CYLC_TASK_PARAM_loobos_single}

    [[niwa_cs500_intel_loobos<loobos_with_spinup>_spinup]]
        inherit = NIWA_CS500_LOOBOS
        [[[environment]]]
            ROSE_TASK_APP = loobos_${CYLC_TASK_PARAM_loobos_with_spinup}_spinup

    [[niwa_cs500_intel_loobos<loobos_with_spinup>]]
        inherit = NIWA_CS500_LOOBOS
        [[[environment]]]
            ROSE_TASK_APP = loobos_${CYLC_TASK_PARAM_loobos_with_spinup}
            DUMP_FILE = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_with_spinup}_spinup/output/niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_with_spinup}_spinup.dump.19971231.82800.nc

    [[niwa_cs500_intel_loobos<loobos_jules_c1p1>]]
        inherit = NIWA_CS500_LOOBOS
        [[[environment]]]
            ROSE_TASK_APP = loobos_${CYLC_TASK_PARAM_loobos_jules_c1p1}
            DUMP_FILE = ../niwa_cs500_intel_loobos_julesc_spinup/output/niwa_cs500_intel_loobos_julesc_spinup.dump.19971231.82800.nc

    # GSWP2 variants
    [[NIWA_CS500_GSWP2]]
        inherit = NIWA_CS500, NIWA_CS500_SL, NIWA_CS500_PARALLEL_TASKS_8, NIWA_CS500_PARALLEL_THREADS_1, GSWP2, COMPUTE
        pre-script = """
                     module purge
                     module load NIWA
                     module load netCDF-Fortran/4.4.4-iimpi-2018b-parallel
                     gen_gswp2_drive_file
                     """
        [[[environment]]]
            BUILD_NAME = fcm_make_niwa_cs500_intel_omp
            GSWP2_INSTALL_DIR = /opt/niwa/um_sys/jules/benchmarking-data/gswp2

    [[niwa_cs500_intel_gswp2<gswp2_single>]]
        inherit = NIWA_CS500_GSWP2
        [[[environment]]]
            ROSE_TASK_APP = gswp2_${CYLC_TASK_PARAM_gswp2_single}

    [[niwa_cs500_intel_gswp2<gswp2_with_spinup>_spinup]]
        inherit = NIWA_CS500_GSWP2
        [[[environment]]]
            ROSE_TASK_APP = gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_spinup

    [[niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart]]
        inherit = NIWA_CS500_GSWP2
        [[[environment]]]
            ROSE_TASK_APP = gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_restart
            DUMP_FILE = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_spinup/output/niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_spinup.dump.19820701.10800.nc

    [[niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage]]
        inherit = NIWA_CS500_GSWP2
        [[[environment]]]
            ROSE_TASK_APP = gswp2_irrig_limit_${CYLC_TASK_PARAM_gswp2_irrig}_river_storage
            DUMP_FILE = ../niwa_cs500_intel_gswp2_trip_spinup/output/niwa_cs500_intel_gswp2_trip_spinup.dump.19820701.10800.nc

    # Eraint variants
    [[NIWA_CS500_ERAINT]]
        inherit = NIWA_CS500, NIWA_CS500_SL, NIWA_CS500_PARALLEL_TASKS_8, NIWA_CS500_PARALLEL_THREADS_1, ERAINT, COMPUTE
        pre-script = """
                     module purge
                     module load NIWA
                     module load netCDF-Fortran/4.4.4-iimpi-2018b-parallel
                     """
        [[[environment]]]
            BUILD_NAME = fcm_make_niwa_cs500_intel_omp
            ERAINT_INSTALL_DIR = /opt/niwa/um_sys/jules/benchmarking-data/eraint

    [[niwa_cs500_intel_eraint<eraint_tests>]]
        inherit = NIWA_CS500_ERAINT
        [[[environment]]]
            ROSE_TASK_APP = eraint_${CYLC_TASK_PARAM_eraint_tests}
            DUMP_FILE = $ERAINT_INSTALL_DIR/brahma_eraint.dump.19951031.0.nc

    # Imogen variants
    [[NIWA_CS500_IMOGEN]]
        inherit = NIWA_CS500, NIWA_CS500_SL, NIWA_CS500_PARALLEL_TASKS_8, NIWA_CS500_PARALLEL_THREADS_1, IMOGEN, COMPUTE
        pre-script = """
                     module purge
                     module load NIWA
                     module load netCDF-Fortran/4.4.4-iimpi-2018b-parallel
                     """
        [[[environment]]]
            BUILD_NAME = fcm_make_niwa_cs500_intel_omp
            IMOGEN_INSTALL_DIR = /opt/niwa/um_sys/jules/benchmarking-data/imogen

    [[niwa_cs500_intel_imogen<imogen_with_spinup>_spinup]]
        inherit = NIWA_CS500_IMOGEN
        [[[environment]]]
            ROSE_TASK_APP = imogen_${CYLC_TASK_PARAM_imogen_with_spinup}_spinup

    [[niwa_cs500_intel_imogen<imogen_with_spinup>]]
        inherit = NIWA_CS500_IMOGEN
        [[[environment]]]
            ROSE_TASK_APP = imogen_${CYLC_TASK_PARAM_imogen_with_spinup}
            DUMP_FILE = ../niwa_cs500_intel_imogen_${CYLC_TASK_PARAM_imogen_with_spinup}_spinup/output/niwa_cs500_intel_imogen_${CYLC_TASK_PARAM_imogen_with_spinup}_spinup.dump.18650101.0.nc

###############################################################################
## Comparison jobs
###############################################################################

    [[NIWA_CS500_NETCDF_COMPARISON]]
        inherit = NIWA_CS500, KGO_CHECK, COMPARISON
        pre-script = """
                     module purge
                     module load NIWA
                     module load nccmp/1.8.5.0-GCC-7.1.0
                     """
        [[[environment]]]
            CMD_CMP = nccmp -d --force
            KGO_DIR = /opt/niwa/um_sys/jules/rose-stem-kgo/{{ KGO_VERSION }}

    # Loobos variants
    [[nccmp_niwa_cs500_intel_loobos<loobos_single>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_single}/output

    [[nccmp_niwa_cs500_intel_loobos<loobos_with_spinup>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_with_spinup}/output

    [[nccmp_niwa_cs500_intel_loobos<loobos_jules_c1p1>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_jules_c1p1}/output

    # GSWP2 variants
    [[nccmp_niwa_cs500_intel_gswp2<gswp2_single>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_single}/output

    [[nccmp_niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_restart/output

    [[nccmp_niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_gswp2_irrig_limit_${CYLC_TASK_PARAM_gswp2_irrig}_river_storage/output

    # Eraint variants
    [[nccmp_niwa_cs500_intel_eraint<eraint_tests>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_eraint_${CYLC_TASK_PARAM_eraint_tests}/output

    # Imogen
    [[nccmp_niwa_cs500_intel_imogen<imogen_with_spinup>]]
        inherit = NIWA_CS500_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_cs500_intel_imogen_${CYLC_TASK_PARAM_imogen_with_spinup}/output

###############################################################################
## Housekeeping jobs
###############################################################################

    [[NIWA_CS500_HOUSEKEEPING]]
        inherit = NIWA_CS500, HOUSEKEEPING

    # Loobos variants
    [[housekeep_niwa_cs500_intel_loobos<loobos_single>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_single}

    [[housekeep_niwa_cs500_intel_loobos<loobos_with_spinup>_spinup]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_with_spinup}_spinup

    [[housekeep_niwa_cs500_intel_loobos<loobos_with_spinup>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_with_spinup}

    [[housekeep_niwa_cs500_intel_loobos<loobos_jules_c1p1>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_loobos_${CYLC_TASK_PARAM_loobos_jules_c1p1}

    # GSWP2 variants
    [[housekeep_niwa_cs500_intel_gswp2<gswp2_single>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_single}

    [[housekeep_niwa_cs500_intel_gswp2<gswp2_with_spinup>_spinup]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_spinup

    [[housekeep_niwa_cs500_intel_gswp2<gswp2_with_spinup>_restart]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_gswp2_${CYLC_TASK_PARAM_gswp2_with_spinup}_restart

    [[housekeep_niwa_cs500_intel_gswp2_irrig_limit<gswp2_irrig>_river_storage]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_gswp2_irrig_limit_${CYLC_TASK_PARAM_gswp2_irrig}_river_storage

    # Eraint variants
    [[housekeep_niwa_cs500_intel_eraint<eraint_tests>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_eraint_${CYLC_TASK_PARAM_eraint_tests}

    # Imogen variants
    [[housekeep_niwa_cs500_intel_imogen<imogen_with_spinup>_spinup]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_imogen_${CYLC_TASK_PARAM_imogen_with_spinup}_spinup

    [[housekeep_niwa_cs500_intel_imogen<imogen_with_spinup>]]
        inherit = NIWA_CS500_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_cs500_intel_imogen_${CYLC_TASK_PARAM_imogen_with_spinup}
