    [[SCRIPTS]]

# UMDP3 compliance checker - run on ROSE_ORIG_HOST use EXTRACT family
    [[umdp3_checker]]
        inherit = SCRIPTS, EXTRACT
        [[[environment]]]
            ROSE_TASK_APP = umdp3_checker

# metadata validator - run on ROSE_ORIG_HOST use EXTRACT family
# only a subset of rose stem apps validate at present
    [[metadata_checker]]
        inherit = SCRIPTS, EXTRACT
        [[[environment]]]
            APP_DIRS = "fcm_make \
                        gswp2_euro4 \
                        gswp2_gl4 \
                        gswp2_gl7 \
                        gswp2_ukv \
                        imogen_layeredc* \
                        loobos_daily_disagg \
                        loobos_euro4 \
                        loobos_fire* \
                        loobos_gl4 \
                        loobos_gl7 \
                        loobos_gl8 \
                        loobos_gl8_medlyn \
                        loobos_julesc* \
                        loobos_jules_c1p1* \
                        loobos_jules_cn* \
                        loobos_jules_es_1p0 \
                        loobos_jules_layeredcn* \
                        loobos_trif* \
                        loobos_ukv* \
                        loobos_vegdrag"
            ROSE_TASK_APP = metadata_checker
