#!jinja2
{% set KILL = False %}

{% if REMOTE_JASMIN == false %}
     {% if SITE == '' %}
        {% set KILL = True %}
     {% endif %}
{% endif %}

{% if KILL %}
    {{ "Error: No SITE in the rose.conf or not running REMOTE_JASMIN" / 0 }}
{% endif %}


{#- Import variable definitions #}
%include 'include/variables.rc'

[cylc]
    UTC mode = True
    [[events]]
        timeout = {{ SUITE_TIMEOUT }} 
        shutdown handler = "suite_report.py -s"
        stalled handler = "suite_report.py -s"

{#- Import any Cylc task parameters #}
%include 'include/parameters.rc'
        
{#- Import the dependency graphs for the available jobs and groups #}
%include 'include/graph.rc'

[scheduling]
{#- Import any queues #}
%include 'include/queues.rc'

    [[dependencies]]
        graph = """
{#- Recursively add dependencies from RUN_NAMES, replacing groups with subgroups/tasks #}
{%- set name_graphs_out = [] %}
{%- set graphs_out = [] %}
{%- for name in RUN_NAMES %}
    {%- set namestack = [name] %}
    {%- for stackname in namestack recursive %}
        {%- if stackname in name_graphs %}
            {%- if name_graphs_out.append(stackname) %}
            {%- endif %}
            {%- set outgraph = name_graphs[stackname] %}
            {%- if outgraph not in graphs_out %}
            {#- Add new dependency. #}
{{ outgraph }}
                {%- if graphs_out.append(outgraph) %}
                {%- endif %}
            {%- endif %}
        {%- elif stackname in groups %}
        {#- Add the group contents to the stack. #}
{{ loop(groups[stackname]) }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
     """
        
[runtime]
    [[root]]
        init-script = """
export CYLC_VERSION={{CYLC_VERSION}}
export ROSE_VERSION={{ROSE_VERSION}}
export FCM_VERSION={{FCM_VERSION}}
"""
        script = "rose task-run --verbose"
        [[[events]]]
            mail events = retry, submission failed, submission timeout, timeout, execution timeout
            submission timeout = PT12H
            execution timeout  =  PT3H
        [[[environment]]]
            {% if REMOTE_JASMIN == false %}
                ROSE_ORIG_HOST = {{ ROSE_ORIG_HOST }}
            {% endif %}


{#- Import family and job definitions #}
%include 'include/runtime.rc'
%include 'runtime-common.rc'

