###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {
        "loobos_gl4" : "fcm_make_debug => \
                        loobos_gl4 => nccmp_loobos_gl4 => housekeep_loobos_gl4",

        "loobos_gl7" : "fcm_make_debug => \
                        loobos_gl7 => nccmp_loobos_gl7 => housekeep_loobos_gl7",

        "loobos_gl8" : "fcm_make_debug => \
                          loobos_gl8 => nccmp_loobos_gl8 => housekeep_loobos_gl8",

        "loobos_gl8_medlyn" : "fcm_make_debug => \
                          loobos_gl8_medlyn => nccmp_loobos_gl8_medlyn => housekeep_loobos_gl8_medlyn",

        "loobos_vegdrag" : "fcm_make_debug => \
                          loobos_vegdrag => nccmp_loobos_vegdrag => housekeep_loobos_vegdrag",

        "loobos_euro4" : "fcm_make_debug => \
                          loobos_euro4 => nccmp_loobos_euro4 => housekeep_loobos_euro4",

        "loobos_forecast" : "fcm_make_debug => \
                             loobos_forecast => nccmp_loobos_forecast => housekeep_loobos_forecast",

        "loobos_ukv" : "fcm_make_debug => \
                        loobos_ukv => nccmp_loobos_ukv => housekeep_loobos_ukv",

        "loobos_trif" : "fcm_make_debug => \
                        loobos_trif_spinup => loobos_trif => nccmp_loobos_trif => \
                        housekeep_loobos_trif_spinup & housekeep_loobos_trif",

        "loobos_julesc" : "fcm_make_debug => \
                           loobos_julesc_spinup => loobos_julesc & \
                           loobos_jules_c1p1 & loobos_jules_c1p1_fire
                           loobos_julesc => nccmp_loobos_julesc
                           loobos_jules_c1p1 => nccmp_loobos_jules_c1p1
                           loobos_jules_c1p1_fire => nccmp_loobos_jules_c1p1_fire
                           nccmp_loobos_julesc \
                           & nccmp_loobos_jules_c1p1 & nccmp_loobos_jules_c1p1_fire => \
                           housekeep_loobos_julesc_spinup & housekeep_loobos_julesc \
                           & housekeep_loobos_jules_c1p1 & housekeep_loobos_jules_c1p1_fire",

        "loobos_jules_layeredcn" : "fcm_make_debug => \
                           loobos_jules_layeredcn_spinup => loobos_jules_layeredcn => \
                           nccmp_loobos_jules_layeredcn => \
                           housekeep_loobos_jules_layeredcn_spinup & housekeep_loobos_jules_layeredcn",

        "loobos_jules_cn" : "fcm_make_debug => \
                           loobos_jules_cn_spinup => loobos_jules_cn => nccmp_loobos_jules_cn => \
                           housekeep_loobos_jules_cn_spinup & housekeep_loobos_jules_cn",

        "loobos_jules_es_1p0" : "fcm_make_debug => \
                                 loobos_jules_es_1p0_spinup => loobos_jules_es_1p0 => nccmp_loobos_jules_es_1p0 => \
                                 housekeep_loobos_jules_es_1p0_spinup & housekeep_loobos_jules_es_1p0",

        "loobos_crops" : "fcm_make_debug => \
                          loobos_crops => nccmp_loobos_crops => housekeep_loobos_crops",

        "loobos_prescribe_sthuf" : "fcm_make_debug => \
                          loobos_prescribe_sthuf => nccmp_loobos_prescribe_sthuf => housekeep_loobos_prescribe_sthuf",

        "loobos_irrig" : "fcm_make_debug => \
                          loobos_irrig => nccmp_loobos_irrig => housekeep_loobos_irrig",

        "loobos_irrig_nirrtile" : "fcm_make_debug => \
                          loobos_irrig_nirrtile => nccmp_loobos_irrig_nirrtile => housekeep_loobos_irrig_nirrtile",

        "loobos_fire" : "fcm_make_debug => \
                         loobos_fire_spinup => loobos_fire => nccmp_loobos_fire => \
                         housekeep_loobos_fire_spinup & housekeep_loobos_fire",

        "loobos_daily_disagg" : "fcm_make_debug => \
                                 loobos_daily_disagg => nccmp_loobos_daily_disagg => \
                                 housekeep_loobos_daily_disagg",

        "loobos_crm1_traitF" : "fcm_make_debug => \
                                loobos_crm1_traitF => nccmp_loobos_crm1_traitF => \
                                housekeeping_loobos_crm1_traitF",

        "loobos_crm4_traitF" : "fcm_make_debug => \
                                loobos_crm4_traitF => nccmp_loobos_crm4_traitF => \
                                housekeeping_loobos_crm4_traitF",

        "loobos_crm5_traitF" : "fcm_make_debug => \
                                loobos_crm5_traitF => nccmp_loobos_crm5_traitF => \
                                housekeeping_loobos_crm5_traitF",

        "loobos_crm6_traitF" : "fcm_make_debug => \
                                loobos_crm6_traitF => nccmp_loobos_crm6_traitF => \
                                housekeeping_loobos_crm6_traitF",

        "loobos_crm6_traitT" : "fcm_make_debug => loobos_crm6_traitT & loobos_crm6_traitT_farquhar
                                loobos_crm6_traitT => nccmp_loobos_crm6_traitT => housekeeping_loobos_crm6_traitT
                                loobos_crm6_traitT_farquhar => nccmp_loobos_crm6_traitT_farquhar => housekeeping_loobos_crm6_traitT_farquhar",

        "loobos_crm6_traitF_srfT" : "fcm_make_debug => \
                                     loobos_crm6_traitF_srfT => nccmp_loobos_crm6_traitF_srfT => \
                                     housekeeping_loobos_crm6_traitF_srfT",

        "gswp2_irrig_limit_low_river_storage" : "fcm_make_omp => gswp2_trip_spinup => gswp2_irrig_limit_low_river_storage => nccmp_gswp2_irrig_limit_low_river_storage => housekeep_gswp2_trip_spinup => housekeep_gswp2_irrig_limit_low_river_storage",

        "gswp2_irrig_limit_high_river_storage" : "fcm_make_omp => gswp2_trip_spinup => gswp2_irrig_limit_high_river_storage => nccmp_gswp2_irrig_limit_high_river_storage => housekeep_gswp2_trip_spinup => housekeep_gswp2_irrig_limit_high_river_storage",

        "gswp2_rivers" : "fcm_make_omp => gswp2_rivers => nccmp_gswp2_rivers => housekeep_gswp2_rivers",

        "gswp2_rivers_restart" : "fcm_make_omp => gswp2_rivers_spinup => gswp2_rivers_restart => nccmp_gswp2_rivers_restart => housekeep_gswp2_rivers_spinup => housekeep_gswp2_rivers_restart",

        "gswp2_trip" : "fcm_make_omp => gswp2_trip => nccmp_gswp2_trip => housekeep_gswp2_trip",

        "gswp2_trip_restart" : "fcm_make_omp => gswp2_trip_spinup => gswp2_trip_restart => nccmp_gswp2_trip_restart => housekeep_gswp2_trip_spinup => housekeep_gswp2_trip_restart",

        "gswp2_closures" : "fcm_make_omp => gswp2_closures => nccmp_gswp2_closures => housekeep_gswp2_closures",

        "gswp2_euro4" : "fcm_make_omp => gswp2_euro4 => nccmp_gswp2_euro4 => housekeep_gswp2_euro4",

        "gswp2_gl4" : "fcm_make_omp => gswp2_gl4=> nccmp_gswp2_gl4=> housekeep_gswp2_gl4",
        
        "gswp2_gl7" : "fcm_make_omp => gswp2_gl7=> nccmp_gswp2_gl7=> housekeep_gswp2_gl7",

        "gswp2_ukv" : "fcm_make_omp => gswp2_ukv => nccmp_gswp2_ukv => housekeep_gswp2_ukv",

        "eraint_rfm_2ddata" : "fcm_make_omp => eraint_rfm_2ddata => nccmp_eraint_rfm_2ddata => housekeep_eraint_rfm_2ddata",

        "eraint_trip_2ddata" : "fcm_make_omp => eraint_trip_2ddata => nccmp_eraint_trip_2ddata => housekeep_eraint_trip_2ddata",

        "imogen_layeredc" : "fcm_make_omp => \
                           imogen_layeredc_spinup => imogen_layeredc => \
                           nccmp_imogen_layeredc => \
                           housekeep_imogen_layeredc_spinup & housekeep_imogen_layeredc",

        "umdp3_check" : "umdp3_checker",

        "metadata_check" : "metadata_checker",

    }
%}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {
        "all" : ["loobos", "gswp2", "eraint", "imogen"],

        "loobos" : ["loobos_gl4", "loobos_gl7", "loobos_gl8",  "loobos_gl8_medlyn", 
                    "loobos_vegdrag", "loobos_euro4", "loobos_forecast", "loobos_ukv",
                    "loobos_trif", "loobos_crops", "loobos_prescribe_sthuf", "loobos_fire", 
                    "loobos_daily_disagg","loobos_julesc","loobos_jules_layeredcn",
                    "loobos_jules_cn", "loobos_jules_es_1p0", "loobos_irrig",
                    "loobos_irrig_nirrtile", "loobos_crm1_traitF",
                    "loobos_crm4_traitF", "loobos_crm5_traitF", "loobos_crm6_traitF",
                    "loobos_crm6_traitT", "loobos_crm6_traitF_srfT", "scripts"],

        "gswp2" : ["gswp2_irrig_limit_high_river_storage", "gswp2_irrig_limit_low_river_storage",
                   "gswp2_rivers", "gswp2_rivers_restart", "gswp2_trip", "gswp2_trip_restart",
                   "gswp2_closures", "gswp2_euro4", "gswp2_gl4", "gswp2_gl7", "gswp2_ukv", "scripts"],

        "eraint" : ["eraint_rfm_2ddata", "eraint_trip_2ddata", "scripts"],

        "imogen" : ["imogen_layeredc", "scripts"],

        "tutorial" : ["loobos_crops"],

         "scripts" : ["umdp3_check", "metadata_check"],
    }
%}
