%include 'include/nci/graph-intel.rc'
%include 'include/nci/graph-gfortran.rc'



{%- set name_graphs = {
        "umdp3_check" : "umdp3_checker",
        "metadata_check" : "metadata_checker",
} %}
{%- do name_graphs.update(name_graphs_intel.items()) %}
{%- do name_graphs.update(name_graphs_gfortran.items()) %}

{%- set groups = {
        "all" : ["intel", "gfortran"],
        
        "intel" : ["intel_loobos", "intel_gswp2", "intel_eraint", "intel_imogen", "scripts"],

        "gfortran" : ["gfortran_loobos", "gfortran_gswp2", "gfortran_eraint", "gfortran_imogen", "scripts"],

        "loobos" : ["intel_loobos", "gfortran_loobos"],

        "gswp2" : ["intel_gswp2", "gfortran_gswp2"],

	"eraint" :["intel_eraint", "gfortran_eraint"],

	"imogen" :["intel_imogen", "gfortran_imogen"],

        "scripts" : ["umdp3_check", "metadata_check"],
    }
 %}

{%- do groups.update(groups_intel.items()) %}
{%- do groups.update(groups_gfortran.items()) %}
