###############################################################################
## Name graphs
###############################################################################
{%- if COVERAGE == true %}
    # If coverage stats are requested, all Intel runs must use the same build in order for the
    # profiling stats to be generated and aggregated correctly
    {%- set loobos_build   = "fcm_make_meto_linux_intel_coverage" %}
    {%- set rivers_build   = "fcm_make_meto_linux_intel_coverage" %}
    {%- set closures_build = "fcm_make_meto_linux_intel_coverage" %}
    {%- set imogen_build   = "fcm_make_meto_linux_intel_coverage" %}
{%- else %}
    {%- set loobos_build   = "fcm_make_meto_linux_intel_debug_noomp_nompi" %}
    {%- set rivers_build   = "fcm_make_meto_linux_intel_noomp_mpi" %}
    {%- set closures_build = "fcm_make_meto_linux_intel_noomp_mpi" %}
    {%- set imogen_build   = "fcm_make_meto_linux_intel_noomp_mpi" %}
{%- endif %}

{%- set name_graphs_linux_intel = {
        "meto_linux_intel_loobos_gl4" : loobos_build + " =>                             \
                                         meto_linux_intel_loobos_gl4 &                  \
                                         meto_linux_intel_loobos_gl4_cable =>           \
                                         nccmp_meto_linux_intel_loobos_gl4 =>           \
                                         housekeep_meto_linux_intel_loobos_gl4",

        "meto_linux_intel_loobos_gl7" : loobos_build + " =>                             \
                                         meto_linux_intel_loobos_gl7  =>                \
                                         nccmp_meto_linux_intel_loobos_gl7 =>           \
                                         housekeep_meto_linux_intel_loobos_gl7",

        "meto_linux_intel_loobos_gl8" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_gl8 =>               \
                                           nccmp_meto_linux_intel_loobos_gl8 =>         \
                                           housekeep_meto_linux_intel_loobos_gl8",

        "meto_linux_intel_loobos_gl8_medlyn" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_gl8_medlyn =>               \
                                           nccmp_meto_linux_intel_loobos_gl8_medlyn =>         \
                                           housekeep_meto_linux_intel_loobos_gl8_medlyn",

        "meto_linux_intel_loobos_vegdrag" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_vegdrag =>               \
                                           nccmp_meto_linux_intel_loobos_vegdrag =>         \
                                           housekeep_meto_linux_intel_loobos_vegdrag",

        "meto_linux_intel_loobos_euro4" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_euro4 =>               \
                                           nccmp_meto_linux_intel_loobos_euro4 =>         \
                                           housekeep_meto_linux_intel_loobos_euro4",

        "meto_linux_intel_loobos_forecast" : loobos_build + " =>                             \
                                              meto_linux_intel_loobos_forecast =>            \
                                              nccmp_meto_linux_intel_loobos_forecast =>      \
                                              housekeep_meto_linux_intel_loobos_forecast",

        "meto_linux_intel_loobos_ukv" : loobos_build + " =>                             \
                                         meto_linux_intel_loobos_ukv =>                 \
                                         nccmp_meto_linux_intel_loobos_ukv =>           \
                                         housekeep_meto_linux_intel_loobos_ukv",

        "meto_linux_intel_loobos_trif" : loobos_build + " =>                                                   \
                                         meto_linux_intel_loobos_trif_spinup => meto_linux_intel_loobos_trif => \
                                         nccmp_meto_linux_intel_loobos_trif =>                                 \
                                         housekeep_meto_linux_intel_loobos_trif_spinup & housekeep_meto_linux_intel_loobos_trif",

        "meto_linux_intel_loobos_julesc" : loobos_build + " =>                                                                 \
                                            meto_linux_intel_loobos_julesc_spinup => meto_linux_intel_loobos_julesc            \
                                            & meto_linux_intel_loobos_jules_c1p1 & meto_linux_intel_loobos_jules_c1p1_fire => \
                                            nccmp_meto_linux_intel_loobos_julesc & nccmp_meto_linux_intel_loobos_jules_c1p1    \
                                            & nccmp_meto_linux_intel_loobos_jules_c1p1_fire =>                                 \
                                            housekeep_meto_linux_intel_loobos_julesc_spinup & housekeep_meto_linux_intel_loobos_julesc  \
                                            & housekeep_meto_linux_intel_loobos_jules_c1p1 & housekeep_meto_linux_intel_loobos_jules_c1p1_fire",

        "meto_linux_intel_loobos_jules_layeredcn" : loobos_build + " =>                                                         \
                                            meto_linux_intel_loobos_jules_layeredcn_spinup => meto_linux_intel_loobos_jules_layeredcn => \
                                            nccmp_meto_linux_intel_loobos_jules_layeredcn =>                                    \
                                            housekeep_meto_linux_intel_loobos_jules_layeredcn_spinup & housekeep_meto_linux_intel_loobos_jules_layeredcn",

        "meto_linux_intel_loobos_jules_cn" : loobos_build + " =>                                                         \
                                            meto_linux_intel_loobos_jules_cn_spinup => meto_linux_intel_loobos_jules_cn => \
                                            nccmp_meto_linux_intel_loobos_jules_cn =>                                    \
                                            housekeep_meto_linux_intel_loobos_jules_cn_spinup & housekeep_meto_linux_intel_loobos_jules_cn",

        "meto_linux_intel_loobos_jules_es_1p0" : loobos_build + " =>                                                         \
                                            meto_linux_intel_loobos_jules_es_1p0_spinup => meto_linux_intel_loobos_jules_es_1p0 => \
                                            nccmp_meto_linux_intel_loobos_jules_es_1p0 =>                                    \
                                            housekeep_meto_linux_intel_loobos_jules_es_1p0_spinup & housekeep_meto_linux_intel_loobos_jules_es_1p0",

        "meto_linux_intel_loobos_crops" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_crops =>               \
                                           nccmp_meto_linux_intel_loobos_crops =>         \
                                           housekeep_meto_linux_intel_loobos_crops",

        "meto_linux_intel_loobos_prescribe_sthuf" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_prescribe_sthuf =>               \
                                           nccmp_meto_linux_intel_loobos_prescribe_sthuf =>         \
                                           housekeep_meto_linux_intel_loobos_prescribe_sthuf",

        "meto_linux_intel_loobos_irrig" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_irrig =>               \
                                           nccmp_meto_linux_intel_loobos_irrig =>         \
                                           housekeep_meto_linux_intel_loobos_irrig",

        "meto_linux_intel_loobos_irrig_nirrtile" : loobos_build + " =>                             \
                                           meto_linux_intel_loobos_irrig_nirrtile =>               \
                                           nccmp_meto_linux_intel_loobos_irrig_nirrtile =>         \
                                           housekeep_meto_linux_intel_loobos_irrig_nirrtile",

        "meto_linux_intel_loobos_fire" : loobos_build + " =>                                                     \
                                          meto_linux_intel_loobos_fire_spinup => meto_linux_intel_loobos_fire => \
                                          nccmp_meto_linux_intel_loobos_fire =>                                  \
                                          housekeep_meto_linux_intel_loobos_fire_spinup & housekeep_meto_linux_intel_loobos_fire",

        "meto_linux_intel_loobos_daily_disagg" : loobos_build + " =>                              \
                                                  meto_linux_intel_loobos_daily_disagg =>         \
                                                  nccmp_meto_linux_intel_loobos_daily_disagg =>   \
                                                  housekeep_meto_linux_intel_loobos_daily_disagg",

        "meto_linux_intel_loobos_crm1_traitF" : loobos_build + " =>                             \
                                                 meto_linux_intel_loobos_crm1_traitF => \
                                                 nccmp_meto_linux_intel_loobos_crm1_traitF => \
                                                 housekeeping_meto_linux_intel_loobos_crm1_traitF",

        "meto_linux_intel_loobos_crm4_traitF" : loobos_build + " =>                             \
                                                 meto_linux_intel_loobos_crm4_traitF => \
                                                 nccmp_meto_linux_intel_loobos_crm4_traitF => \
                                                 housekeeping_meto_linux_intel_loobos_crm4_traitF",

        "meto_linux_intel_loobos_crm5_traitF" : loobos_build + " =>                             \
                                                 meto_linux_intel_loobos_crm5_traitF => \
                                                 nccmp_meto_linux_intel_loobos_crm5_traitF => \
                                                 housekeeping_meto_linux_intel_loobos_crm5_traitF",

        "meto_linux_intel_loobos_crm6_traitF" : loobos_build + " =>                             \
                                                 meto_linux_intel_loobos_crm6_traitF => \
                                                 nccmp_meto_linux_intel_loobos_crm6_traitF => \
                                                 housekeeping_meto_linux_intel_loobos_crm6_traitF",

        "meto_linux_intel_loobos_crm6_traitT" : loobos_build + " =>                             \
                                                 meto_linux_intel_loobos_crm6_traitT & meto_linux_intel_loobos_crm6_traitT_farquhar
                                                meto_linux_intel_loobos_crm6_traitT => nccmp_meto_linux_intel_loobos_crm6_traitT => \
                                                 housekeeping_meto_linux_intel_loobos_crm6_traitT
                                                meto_linux_intel_loobos_crm6_traitT_farquhar => nccmp_meto_linux_intel_loobos_crm6_traitT_farquhar => \
                                                 housekeeping_meto_linux_intel_loobos_crm6_traitT_farquhar",

        "meto_linux_intel_loobos_crm6_traitF_srfT" : loobos_build + " =>                             \
                                                      meto_linux_intel_loobos_crm6_traitF_srfT => \
                                                      nccmp_meto_linux_intel_loobos_crm6_traitF_srfT => \
                                                      housekeeping_meto_linux_intel_loobos_crm6_traitF_srfT",

        "meto_linux_intel_gswp2_rivers" : rivers_build + " =>                     \
                                           meto_linux_intel_gswp2_rivers =>       \
                                           nccmp_meto_linux_intel_gswp2_rivers => \
                                           housekeep_meto_linux_intel_gswp2_rivers",

        "meto_linux_intel_gswp2_rivers_restart" : rivers_build + " => \
                                           meto_linux_intel_gswp2_rivers_spinup => meto_linux_intel_gswp2_rivers_restart =>       \
                                           nccmp_meto_linux_intel_gswp2_rivers_restart => \
                                           housekeep_meto_linux_intel_gswp2_rivers_spinup => housekeep_meto_linux_intel_gswp2_rivers_restart",

        "meto_linux_intel_gswp2_trip" : rivers_build + " => \
                                           meto_linux_intel_gswp2_trip =>       \
                                           nccmp_meto_linux_intel_gswp2_trip => \
                                           housekeep_meto_linux_intel_gswp2_trip",

        "meto_linux_intel_gswp2_trip_restart" : rivers_build + " => \
                                           meto_linux_intel_gswp2_trip_spinup => meto_linux_intel_gswp2_trip_restart =>       \
                                           nccmp_meto_linux_intel_gswp2_trip_restart => \
                                           housekeep_meto_linux_intel_gswp2_trip_spinup => housekeep_meto_linux_intel_gswp2_trip_restart",

        "meto_linux_intel_gswp2_irrig_limit_low_river_storage" : rivers_build + " => \
                                           meto_linux_intel_gswp2_trip_spinup => meto_linux_intel_gswp2_irrig_limit_low_river_storage =>       \
                                           nccmp_meto_linux_intel_gswp2_irrig_limit_low_river_storage => \
                                           housekeep_meto_linux_intel_gswp2_trip_spinup => housekeep_meto_linux_intel_gswp2_irrig_limit_low_river_storage",
         
         "meto_linux_intel_gswp2_irrig_limit_high_river_storage" : rivers_build + " => \
                                           meto_linux_intel_gswp2_trip_spinup => meto_linux_intel_gswp2_irrig_limit_high_river_storage =>       \
                                           nccmp_meto_linux_intel_gswp2_irrig_limit_high_river_storage => \
                                           housekeep_meto_linux_intel_gswp2_trip_spinup => housekeep_meto_linux_intel_gswp2_irrig_limit_high_river_storage",
                                           
        "meto_linux_intel_gswp2_closures" : closures_build + " =>                     \
                                             meto_linux_intel_gswp2_closures =>       \
                                             nccmp_meto_linux_intel_gswp2_closures => \
                                             housekeep_meto_linux_intel_gswp2_closures",

        "meto_linux_intel_gswp2_euro4" : closures_build + " =>                     \
                                             meto_linux_intel_gswp2_euro4 =>       \
                                             nccmp_meto_linux_intel_gswp2_euro4 => \
                                             housekeep_meto_linux_intel_gswp2_euro4",

        "meto_linux_intel_gswp2_gl7" : closures_build + " =>                     \
                                             meto_linux_intel_gswp2_gl7 =>       \
                                             nccmp_meto_linux_intel_gswp2_gl7 => \
                                             housekeep_meto_linux_intel_gswp2_gl7",

        "meto_linux_intel_gswp2_gl4" : closures_build + " =>                     \
                                             meto_linux_intel_gswp2_gl4 =>       \
                                             nccmp_meto_linux_intel_gswp2_gl4 => \
                                             housekeep_meto_linux_intel_gswp2_gl4",

        "meto_linux_intel_gswp2_ukv" : closures_build + " =>                     \
                                             meto_linux_intel_gswp2_ukv =>       \
                                             nccmp_meto_linux_intel_gswp2_ukv => \
                                             housekeep_meto_linux_intel_gswp2_ukv",

        "meto_linux_intel_eraint_rfm_2ddata" : rivers_build + " => \
                                           meto_linux_intel_eraint_rfm_2ddata =>       \
                                           nccmp_meto_linux_intel_eraint_rfm_2ddata => \
                                           housekeep_meto_linux_intel_eraint_rfm_2ddata",

        "meto_linux_intel_eraint_trip_2ddata" : rivers_build + " => \
                                           meto_linux_intel_eraint_trip_2ddata =>       \
                                           nccmp_meto_linux_intel_eraint_trip_2ddata => \
                                           housekeep_meto_linux_intel_eraint_trip_2ddata",

        "meto_linux_intel_imogen_layeredc" : imogen_build + " =>                                                         \
                                            meto_linux_intel_imogen_layeredc_spinup => meto_linux_intel_imogen_layeredc => \
                                            nccmp_meto_linux_intel_imogen_layeredc =>                                    \
                                            housekeep_meto_linux_intel_imogen_layeredc_spinup & housekeep_meto_linux_intel_imogen_layeredc",
    }
%}

# If coverage stats are requested, make sure the coverage generation will be run
{%- if COVERAGE == true %}
    # Add the coverage graph to name_graphs
    {%- do name_graphs_linux_intel.update({
            "meto_linux_intel_coverage" : "METO_LINUX_INTEL_LOOBOS:succeed-all & METO_LINUX_INTEL_GSWP2:succeed-all & METO_LINUX_INTEL_ERAINT:succeed-all & METO_LINUX_INTEL_IMOGEN:succeed-all => coverage_summary"
        })
    %}

    # Add the coverage group to RUN_NAMES
    {%- do RUN_NAMES.append("meto_linux_intel_coverage") %}
{%- endif %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups_linux_intel = {
        "linux_intel" : ["linux_intel_loobos", "linux_intel_gswp2", "linux_intel_eraint", "linux_intel_imogen"],

        "linux_intel_loobos" : ["meto_linux_intel_loobos_gl7", "meto_linux_intel_loobos_gl4", 
                                "meto_linux_intel_loobos_gl8",
                                "meto_linux_intel_loobos_gl8_medlyn",
                                "meto_linux_intel_loobos_vegdrag",
                                "meto_linux_intel_loobos_euro4",
                                "meto_linux_intel_loobos_forecast", "meto_linux_intel_loobos_ukv",
                                "meto_linux_intel_loobos_trif", "meto_linux_intel_loobos_crops",
                                "meto_linux_intel_loobos_prescribe_sthuf",
                                "meto_linux_intel_loobos_fire", "meto_linux_intel_loobos_daily_disagg",
                                "meto_linux_intel_loobos_julesc", "meto_linux_intel_loobos_irrig",
                                "meto_linux_intel_loobos_irrig_nirrtile",
                                "meto_linux_intel_loobos_jules_layeredcn",
                                "meto_linux_intel_loobos_jules_cn",
                                "meto_linux_intel_loobos_jules_es_1p0",
                                "meto_linux_intel_loobos_crm1_traitF",
                                "meto_linux_intel_loobos_crm4_traitF",
                                "meto_linux_intel_loobos_crm5_traitF",
                                "meto_linux_intel_loobos_crm6_traitF",
                                "meto_linux_intel_loobos_crm6_traitT",
                                "meto_linux_intel_loobos_crm6_traitF_srfT"],

        "linux_intel_gswp2" : ["meto_linux_intel_gswp2_rivers", "meto_linux_intel_gswp2_rivers_restart", 
                               "meto_linux_intel_gswp2_trip", "meto_linux_intel_gswp2_trip_restart",
                               "meto_linux_intel_gswp2_irrig_limit_low_river_storage",
                               "meto_linux_intel_gswp2_irrig_limit_high_river_storage", "meto_linux_intel_gswp2_gl4",
                               "meto_linux_intel_gswp2_closures","meto_linux_intel_gswp2_euro4",
                               "meto_linux_intel_gswp2_gl7","meto_linux_intel_gswp2_ukv"],

        "linux_intel_eraint" : ["meto_linux_intel_eraint_rfm_2ddata", "meto_linux_intel_eraint_trip_2ddata"],

        "linux_intel_imogen" : ["meto_linux_intel_imogen_layeredc"],

    }
%}
