###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs_xc40_cce = {
        "meto_xc40_cce_loobos_gl4" : "fcm_make_meto_xc40_cce_debug =>                              \
                                      meto_xc40_cce_loobos_gl4 & meto_xc40_cce_loobos_gl4_cable => \
                                      nccmp_meto_xc40_cce_loobos_gl4 =>                            \
                                      housekeep_meto_xc40_cce_loobos_gl4",

        "meto_xc40_cce_loobos_gl7" : "fcm_make_meto_xc40_cce_debug =>    \
                                      meto_xc40_cce_loobos_gl7 =>        \
                                      nccmp_meto_xc40_cce_loobos_gl7 =>  \
                                      housekeep_meto_xc40_cce_loobos_gl7",

        "meto_xc40_cce_loobos_gl8" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_gl8 =>        \
                                        nccmp_meto_xc40_cce_loobos_gl8 =>  \
                                        housekeep_meto_xc40_cce_loobos_gl8",

        "meto_xc40_cce_loobos_gl8_medlyn" : "fcm_make_meto_xc40_cce_debug =>     \
                                        meto_xc40_cce_loobos_gl8_medlyn =>       \
                                        nccmp_meto_xc40_cce_loobos_gl8_medlyn => \
                                        housekeep_meto_xc40_cce_loobos_gl8_medlyn",

        "meto_xc40_cce_loobos_vegdrag" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_vegdrag =>        \
                                        nccmp_meto_xc40_cce_loobos_vegdrag =>  \
                                        housekeep_meto_xc40_cce_loobos_vegdrag",


        "meto_xc40_cce_loobos_euro4" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_euro4 =>        \
                                        nccmp_meto_xc40_cce_loobos_euro4 =>  \
                                        housekeep_meto_xc40_cce_loobos_euro4",

        "meto_xc40_cce_loobos_forecast" : "fcm_make_meto_xc40_cce_debug =>         \
                                           meto_xc40_cce_loobos_forecast =>        \
                                           nccmp_meto_xc40_cce_loobos_forecast =>  \
                                           housekeep_meto_xc40_cce_loobos_forecast",

        "meto_xc40_cce_loobos_ukv" : "fcm_make_meto_xc40_cce_debug =>    \
                                      meto_xc40_cce_loobos_ukv =>        \
                                      nccmp_meto_xc40_cce_loobos_ukv =>  \
                                      housekeep_meto_xc40_cce_loobos_ukv",

        "meto_xc40_cce_loobos_trif" : "fcm_make_meto_xc40_cce_debug =>                                  \
                                      meto_xc40_cce_loobos_trif_spinup => meto_xc40_cce_loobos_trif =>   \
                                      nccmp_meto_xc40_cce_loobos_trif =>                                \
                                      housekeep_meto_xc40_cce_loobos_trif_spinup & housekeep_meto_xc40_cce_loobos_trif",

        "meto_xc40_cce_loobos_julesc" : "fcm_make_meto_xc40_cce_debug =>                                        \
                                         meto_xc40_cce_loobos_julesc_spinup => meto_xc40_cce_loobos_julesc      \
                                         & meto_xc40_cce_loobos_jules_c1p1 & meto_xc40_cce_loobos_jules_c1p1_fire => \
                                         nccmp_meto_xc40_cce_loobos_julesc & nccmp_meto_xc40_cce_loobos_jules_c1p1  \
                                         & nccmp_meto_xc40_cce_loobos_jules_c1p1_fire => \
                                         housekeep_meto_xc40_cce_loobos_julesc_spinup & housekeep_meto_xc40_cce_loobos_jules_c1p1 \
                                         & housekeep_meto_xc40_cce_loobos_jules_c1p1_fire & housekeep_meto_xc40_cce_loobos_julesc",

        "meto_xc40_cce_loobos_jules_layeredcn" : "fcm_make_meto_xc40_cce_debug =>                                        \
                                         meto_xc40_cce_loobos_jules_layeredcn_spinup => meto_xc40_cce_loobos_jules_layeredcn =>   \
                                         nccmp_meto_xc40_cce_loobos_jules_layeredcn =>                                   \
                                         housekeep_meto_xc40_cce_loobos_jules_layeredcn_spinup & housekeep_meto_xc40_cce_loobos_jules_layeredcn",

        "meto_xc40_cce_loobos_jules_cn" : "fcm_make_meto_xc40_cce_debug =>                                        \
                                         meto_xc40_cce_loobos_jules_cn_spinup => meto_xc40_cce_loobos_jules_cn =>   \
                                         nccmp_meto_xc40_cce_loobos_jules_cn =>                                   \
                                         housekeep_meto_xc40_cce_loobos_jules_cn_spinup & housekeep_meto_xc40_cce_loobos_jules_cn",

        "meto_xc40_cce_loobos_jules_es_1p0" : "fcm_make_meto_xc40_cce_debug =>                                        \
                                           meto_xc40_cce_loobos_jules_es_1p0_spinup => meto_xc40_cce_loobos_jules_es_1p0 => \
                                           nccmp_meto_xc40_cce_loobos_jules_es_1p0 =>                                    \
                                           housekeep_meto_xc40_cce_loobos_jules_es_1p0_spinup & housekeep_meto_xc40_cce_loobos_jules_es_1p0",

        "meto_xc40_cce_loobos_crops" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_crops =>        \
                                        nccmp_meto_xc40_cce_loobos_crops =>  \
                                        housekeep_meto_xc40_cce_loobos_crops",

        "meto_xc40_cce_loobos_prescribe_sthuf" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_prescribe_sthuf =>        \
                                        nccmp_meto_xc40_cce_loobos_prescribe_sthuf =>  \
                                        housekeep_meto_xc40_cce_loobos_prescribe_sthuf",

        "meto_xc40_cce_loobos_irrig" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_irrig =>        \
                                        nccmp_meto_xc40_cce_loobos_irrig =>  \
                                        housekeep_meto_xc40_cce_loobos_irrig",

        "meto_xc40_cce_loobos_irrig_nirrtile" : "fcm_make_meto_xc40_cce_debug =>      \
                                        meto_xc40_cce_loobos_irrig_nirrtile =>        \
                                        nccmp_meto_xc40_cce_loobos_irrig_nirrtile =>  \
                                        housekeep_meto_xc40_cce_loobos_irrig_nirrtile",

        "meto_xc40_cce_loobos_fire" : "fcm_make_meto_xc40_cce_debug =>                                  \
                                       meto_xc40_cce_loobos_fire_spinup => meto_xc40_cce_loobos_fire => \
                                       nccmp_meto_xc40_cce_loobos_fire =>                               \
                                       housekeep_meto_xc40_cce_loobos_fire_spinup & housekeep_meto_xc40_cce_loobos_fire",

        "meto_xc40_cce_loobos_daily_disagg" : "fcm_make_meto_xc40_cce_debug =>             \
                                               meto_xc40_cce_loobos_daily_disagg =>        \
                                               nccmp_meto_xc40_cce_loobos_daily_disagg =>  \
                                               housekeep_meto_xc40_cce_loobos_daily_disagg",

        "meto_xc40_cce_loobos_crm1_traitF" : "fcm_make_meto_xc40_cce_debug =>     \
                                              meto_xc40_cce_loobos_crm1_traitF => \
                                              nccmp_meto_xc40_cce_loobos_crm1_traitF => \
                                              housekeeping_meto_xc40_cce_loobos_crm1_traitF",

        "meto_xc40_cce_loobos_crm4_traitF" : "fcm_make_meto_xc40_cce_debug =>     \
                                              meto_xc40_cce_loobos_crm4_traitF => \
                                              nccmp_meto_xc40_cce_loobos_crm4_traitF => \
                                              housekeeping_meto_xc40_cce_loobos_crm4_traitF",

        "meto_xc40_cce_loobos_crm5_traitF" : "fcm_make_meto_xc40_cce_debug =>     \
                                              meto_xc40_cce_loobos_crm5_traitF => \
                                              nccmp_meto_xc40_cce_loobos_crm5_traitF => \
                                              housekeeping_meto_xc40_cce_loobos_crm5_traitF",

        "meto_xc40_cce_loobos_crm6_traitF" : "fcm_make_meto_xc40_cce_debug =>     \
                                              meto_xc40_cce_loobos_crm6_traitF => \
                                              nccmp_meto_xc40_cce_loobos_crm6_traitF => \
                                              housekeeping_meto_xc40_cce_loobos_crm6_traitF",

        "meto_xc40_cce_loobos_crm6_traitT" : "fcm_make_meto_xc40_cce_debug =>     \
                                                meto_xc40_cce_loobos_crm6_traitT & meto_xc40_cce_loobos_crm6_traitT_farquhar
                                              meto_xc40_cce_loobos_crm6_traitT => nccmp_meto_xc40_cce_loobos_crm6_traitT => \
                                                housekeeping_meto_xc40_cce_loobos_crm6_traitT
                                              meto_xc40_cce_loobos_crm6_traitT_farquhar => nccmp_meto_xc40_cce_loobos_crm6_traitT_farquhar => \
                                                housekeeping_meto_xc40_cce_loobos_crm6_traitT_farquhar",

        "meto_xc40_cce_loobos_crm6_traitF_srfT" : "fcm_make_meto_xc40_cce_debug =>          \
                                                   meto_xc40_cce_loobos_crm6_traitF_srfT => \
                                                   nccmp_meto_xc40_cce_loobos_crm6_traitF_srfT => \
                                                   housekeeping_meto_xc40_cce_loobos_crm6_traitF_srfT",

        "meto_xc40_cce_gswp2_rivers" : "fcm_make_meto_xc40_cce_omp =>        \
                                        meto_xc40_cce_gswp2_rivers =>        \
                                        nccmp_meto_xc40_cce_gswp2_rivers =>  \
                                        housekeep_meto_xc40_cce_gswp2_rivers",

        "meto_xc40_cce_gswp2_rivers_restart" : "fcm_make_meto_xc40_cce_omp =>                                \
                                        meto_xc40_cce_gswp2_rivers_spinup => meto_xc40_cce_gswp2_rivers_restart => \
                                        nccmp_meto_xc40_cce_gswp2_rivers_restart =>                          \
                                        housekeep_meto_xc40_cce_gswp2_rivers_spinup => housekeep_meto_xc40_cce_gswp2_rivers_restart",

        "meto_xc40_cce_gswp2_trip" : "fcm_make_meto_xc40_cce_omp =>        \
                                        meto_xc40_cce_gswp2_trip =>        \
                                        nccmp_meto_xc40_cce_gswp2_trip =>  \
                                        housekeep_meto_xc40_cce_gswp2_trip",

        "meto_xc40_cce_gswp2_trip_restart" : "fcm_make_meto_xc40_cce_omp =>                                \
                                        meto_xc40_cce_gswp2_trip_spinup => meto_xc40_cce_gswp2_trip_restart => \
                                        nccmp_meto_xc40_cce_gswp2_trip_restart =>                          \
                                        housekeep_meto_xc40_cce_gswp2_trip_spinup => housekeep_meto_xc40_cce_gswp2_trip_restart",

        "meto_xc40_cce_gswp2_irrig_limit_low_river_storage" : "fcm_make_meto_xc40_cce_omp =>                                \
                                        meto_xc40_cce_gswp2_trip_spinup => meto_xc40_cce_gswp2_irrig_limit_low_river_storage => \
                                        nccmp_meto_xc40_cce_gswp2_irrig_limit_low_river_storage =>                          \
                                        housekeep_meto_xc40_cce_gswp2_trip_spinup => housekeep_meto_xc40_cce_gswp2_irrig_limit_low_river_storage",

        "meto_xc40_cce_gswp2_irrig_limit_high_river_storage" : "fcm_make_meto_xc40_cce_omp =>                                \
                                        meto_xc40_cce_gswp2_trip_spinup => meto_xc40_cce_gswp2_irrig_limit_high_river_storage => \
                                        nccmp_meto_xc40_cce_gswp2_irrig_limit_high_river_storage =>                          \
                                        housekeep_meto_xc40_cce_gswp2_trip_spinup => housekeep_meto_xc40_cce_gswp2_irrig_limit_high_river_storage",

        "meto_xc40_cce_gswp2_closures" : "fcm_make_meto_xc40_cce_omp =>          \
                                          meto_xc40_cce_gswp2_closures =>        \
                                          nccmp_meto_xc40_cce_gswp2_closures =>  \
                                          housekeep_meto_xc40_cce_gswp2_closures",

        "meto_xc40_cce_gswp2_euro4" : "fcm_make_meto_xc40_cce_omp =>          \
                                          meto_xc40_cce_gswp2_euro4 =>        \
                                          nccmp_meto_xc40_cce_gswp2_euro4 =>  \
                                          housekeep_meto_xc40_cce_gswp2_euro4",

        "meto_xc40_cce_gswp2_gl7" : "fcm_make_meto_xc40_cce_omp =>          \
                                          meto_xc40_cce_gswp2_gl7 =>        \
                                          nccmp_meto_xc40_cce_gswp2_gl7 =>  \
                                          housekeep_meto_xc40_cce_gswp2_gl7",

        "meto_xc40_cce_gswp2_gl4" : "fcm_make_meto_xc40_cce_omp =>          \
                                          meto_xc40_cce_gswp2_gl4 =>        \
                                          nccmp_meto_xc40_cce_gswp2_gl4 =>  \
                                          housekeep_meto_xc40_cce_gswp2_gl4",

        "meto_xc40_cce_gswp2_ukv" : "fcm_make_meto_xc40_cce_noomp =>                              \
                                          meto_xc40_cce_gswp2_ukv_noomp =>                        \
                                          nccmp_meto_xc40_cce_gswp2_ukv_noomp_kgo =>              \
                                          housekeep_meto_xc40_cce_gswp2_ukv
                                     meto_xc40_cce_gswp2_ukv_noomp => nccmp_meto_xc40_cce_gswp2_ukv_9_omp_threads_vs_noomp
                                     fcm_make_meto_xc40_cce_omp =>                                \
                                          meto_xc40_cce_gswp2_ukv_9_omp_threads =>                \
                                          nccmp_meto_xc40_cce_gswp2_ukv_9_omp_threads_vs_noomp => \
                                          housekeep_meto_xc40_cce_gswp2_ukv",

        "meto_xc40_cce_eraint_rfm_2ddata" : "fcm_make_meto_xc40_cce_omp =>        \
                                        meto_xc40_cce_eraint_rfm_2ddata =>        \
                                        nccmp_meto_xc40_cce_eraint_rfm_2ddata =>  \
                                        housekeep_meto_xc40_cce_eraint_rfm_2ddata",

        "meto_xc40_cce_eraint_trip_2ddata" : "fcm_make_meto_xc40_cce_omp =>       \
                                        meto_xc40_cce_eraint_trip_2ddata =>       \
                                        nccmp_meto_xc40_cce_eraint_trip_2ddata => \
                                        housekeep_meto_xc40_cce_eraint_trip_2ddata",

        "meto_xc40_cce_imogen_layeredc" : "fcm_make_meto_xc40_cce_omp =>                                          \
                                         meto_xc40_cce_imogen_layeredc_spinup => meto_xc40_cce_imogen_layeredc => \
                                         nccmp_meto_xc40_cce_imogen_layeredc =>                                   \
                                         housekeep_meto_xc40_cce_imogen_layeredc_spinup & housekeep_meto_xc40_cce_imogen_layeredc",

    }
%}


###############################################################################
## Group definitions
###############################################################################
{%- set groups_xc40_cce = {
        "xc40_cce" : ["xc40_cce_loobos", "xc40_cce_gswp2", "xc40_cce_eraint", "xc40_cce_imogen"],

        "xc40_cce_loobos" : ["meto_xc40_cce_loobos_gl7", "meto_xc40_cce_loobos_gl8", "meto_xc40_cce_loobos_gl8_medlyn",
                             "meto_xc40_cce_loobos_vegdrag", "meto_xc40_cce_loobos_euro4",
                             "meto_xc40_cce_loobos_forecast", "meto_xc40_cce_loobos_ukv",
                             "meto_xc40_cce_loobos_trif", "meto_xc40_cce_loobos_crops",
                             "meto_xc40_cce_loobos_prescribe_sthuf", "meto_xc40_cce_loobos_gl4",
                             "meto_xc40_cce_loobos_fire", "meto_xc40_cce_loobos_daily_disagg",
                             "meto_xc40_cce_loobos_julesc", "meto_xc40_cce_loobos_irrig",
                             "meto_xc40_cce_loobos_irrig_nirrtile",
                             "meto_xc40_cce_loobos_jules_cn","meto_xc40_cce_loobos_jules_layeredcn",
                             "meto_xc40_cce_loobos_jules_es_1p0",
                             "meto_xc40_cce_loobos_crm1_traitF", "meto_xc40_cce_loobos_crm4_traitF",
                             "meto_xc40_cce_loobos_crm5_traitF", "meto_xc40_cce_loobos_crm6_traitF",
                             "meto_xc40_cce_loobos_crm6_traitT", "meto_xc40_cce_loobos_crm6_traitF_srfT"],

        "xc40_cce_gswp2" : ["meto_xc40_cce_gswp2_rivers", "meto_xc40_cce_gswp2_rivers_restart", "meto_xc40_cce_gswp2_trip",
                            "meto_xc40_cce_gswp2_trip_restart", "meto_xc40_cce_gswp2_irrig_limit_low_river_storage",
                            "meto_xc40_cce_gswp2_irrig_limit_high_river_storage", "meto_xc40_cce_gswp2_closures",
                            "meto_xc40_cce_gswp2_euro4","meto_xc40_cce_gswp2_gl7","meto_xc40_cce_gswp2_gl4",
                            "meto_xc40_cce_gswp2_ukv"],

        "xc40_cce_eraint" : ["meto_xc40_cce_eraint_rfm_2ddata", "meto_xc40_cce_eraint_trip_2ddata"],

        "xc40_cce_imogen" : ["meto_xc40_cce_imogen_layeredc"],
    }
%}
