################################################################################
# This platform file should be used for builds with the Cray compiler on the
# BoM Cray XC40
#
# It makes sure that the compiler is Intel and that MPI and NetCDF are always on
#
# NetCDF flags are handled via the module system and compiler wrappers, so we
# just have to make sure nothing specific is set
################################################################################

# The Cray compiler will sort out adding include and lib paths, so unset them
$JULES_NETCDF_INC_PATH =
$JULES_NETCDF_LIB_PATH =

# Load the remote machine settings
$JULES_REMOTE_HOST{?} =
$JULES_REMOTE_PATH{?} =
include = $HERE/../remote/$JULES_REMOTE.cfg

# Load the Cray compiler settings
include = $HERE/../compiler/intel_15_plus-cray.cfg

# Select the correct build type
include = $HERE/../build/$JULES_BUILD.cfg

# Select OpenMP or not
include = $HERE/../omp/$JULES_OMP.cfg

# Select NetCDF
include = $HERE/../ncdf/netcdf.cfg

# The Cray compiler will sort out linking the correct libraries, so unset them
$ncdf_libs_dynamic =
$ncdf_libs_static  =

# Select MPI
include = $HERE/../mpi/mpi.cfg

