################################################################################
# This platform file should be used for MPI builds on LOTUS on JASMIN
#
# It makes sure that the compiler is Intel, that MPI and NetCDF are on, and
# that the NetCDF paths are correctly set up for an MPI-aware NetCDF
################################################################################

# Load environment variable pre-settings
include = $HERE/envars.cfg

# Override any of the input variables that we need to
$JASMIN_JULES_BASE_DIR{?} = /gws/nopw/j04/jules
$JULES_COMPILER = intel
$JULES_MPI = mpi
$JULES_NETCDF = netcdf
$JULES_NETCDF_INC_PATH = $NETCDF_FORTRAN_ROOT/include
$JULES_NETCDF_LIB_PATH = $NETCDF_ROOT/lib $NETCDF_FORTRAN_ROOT/lib $JASMIN_JULES_BASE_DIR/admin/curl/curl-lotus-parallel-intel/lib/ $HDF5_LIBDIR

# Now load the the build config settings based on the supplied environment variables.
include = $HERE/custom.cfg
