###############################################################################
## Imports
###############################################################################
%include 'include/bom/graph-xc40-intel.rc'

###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {} %}
{%- do name_graphs.update(name_graphs_xc40_intel.items()) %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {
        "all" : ["xc40"],
        "xc40" : ["xc40_intel"],
        "xc40_intel" : ["fcm_make"]
    }
%}
{%- do groups.update(groups_xc40_intel.items()) %}
